.app-info__wrapper {
  position: relative; }

.app-info__slogan-block {
  background-color: #fff;
  padding-bottom: 0;
  padding-top: 39px;
  position: relative;
  text-align: center; }

.app-info__slogan {
  color: #283645;
  font: 2.4em "Open Sans Light",Arial,sans-serif;
  line-height: 1.25em; }

.app-info__slogan--question {
  margin-bottom: 27px; }

.app-info__decor {
  background: url(../img/bg-triangle-white.svg) no-repeat center;
  background-size: cover;
  bottom: -90px;
  height: 95px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1; }
