.btn {
  background-color: #2aab6d;
  border: 0;
  border-radius: 3px;
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  font: 1.8em/1.66667em "Open Sans Bold",Arial,sans-serif;
  outline: 0;
  padding-bottom: 17px;
  padding-top: 16px;
  text-align: center;
  text-transform: uppercase; }

.btn:active, .btn:hover {
  background-color: #1c9b5e; }

.btn:hover {
  color: #fff; }

.btn:active {
  color: rgba(255, 255, 255, 0.3); }

.btn--disabled, .btn:disabled {
  background-color: #e5e5e5;
  color: #fff; }
