.desc-block {
  background-color: #fff;
  padding: 45px 11% 49px;
  text-align: center; }

.desc-block--video {
  padding: 45px 1.5% 40px; }

.desc-block--contest {
  padding-bottom: 34px;
  padding-left: 6.25%;
  padding-right: 6.25%; }

.desc-block__desc {
  color: #283645;
  font: 1.4em/2.14286em "Open Sans",Arial,sans-serif; }

.desc-block__desc--visually-invisible-for-mobile, .desc-block__text-transfer-visible-4-desktop {
  display: none; }
