.features__wrapper {
  background-color: #f2f2f2;
  overflow: hidden;
  padding-bottom: 318px;
  padding-top: 112px;
  position: relative;
  text-align: center; }

.features__item {
  margin-bottom: 33px;
  padding-left: 7%;
  padding-right: 7%; }

.features__item:last-of-type {
  margin-bottom: 0; }

.features__item-img-block--visually-desktop-only {
  display: none; }

.features__item-title {
  color: #283645;
  font: 1.8em/1.33333em "Open Sans Bold",Arial,sans-serif;
  margin-bottom: 12px; }

.features__item-desc {
  color: #283645;
  font: 1.4em/1.71429em "Open Sans",Arial,sans-serif; }

.features__text-tranfer {
  display: none; }

.features__desc-img {
  bottom: -5%;
  left: 25%;
  position: absolute; }
