.slider-switches {
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1; }

.slider-switches--reviews {
  bottom: 4%; }

.slider-switches--prices {
  bottom: -333px; }

.slider-switches__switch {
  cursor: pointer;
  margin-right: 26px;
  position: relative; }

.slider-switches__switch:last-of-type {
  margin-right: 0; }

.slider-switches__switch::before {
  background-color: rgba(126, 134, 143, 0.7);
  border-radius: 50%;
  content: "";
  height: 6px;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 6px; }

.slider-switches__switch:hover::before {
  background-color: #7e868f; }

.slider-switches__switch:active::before {
  background-color: rgba(126, 134, 143, 0.3); }

.prices__slider-input[id=price-r1]:checked ~ .slider-switches > .slider-switches__switch[for=price-r1]::after, .prices__slider-input[id=price-r2]:checked ~ .slider-switches > .slider-switches__switch[for=price-r2]::after, .prices__slider-input[id=price-r3]:checked ~ .slider-switches > .slider-switches__switch[for=price-r3]::after, .reviews__slider-input[id=review-r1]:checked ~ .slider-switches > .slider-switches__switch[for=review-r1]::after, .reviews__slider-input[id=review-r2]:checked ~ .slider-switches > .slider-switches__switch[for=review-r2]::after, .reviews__slider-input[id=review-r3]:checked ~ .slider-switches > .slider-switches__switch[for=review-r3]::after {
  background: #fff;
  border: 3px solid #283645;
  border-radius: 50%;
  content: "";
  height: 6px;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 6px; }
